# Environment
.venv/
node_modules/

# Local configuration
backend/data/config.json
backend/data/user_state.json
backend/data/history.json
backend/data/subscriptions.json

# Private assets
frontend/public/3d-assests/vrm-models/Mia-naked.vrm
frontend/public/3d-assests/vrm-models/Mia-panties.vrm
